@charset "UTF-8";

/* reset */
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select{padding:0; margin:0; word-break:keep-all; word-wrap:break-word;}
body{width:100%; height:100%; font-family:'Noto Sans KR', Dotum, '굴림', Gulim, Helvetica, sans-serif; font-size:16px; font-weight:300; letter-spacing:-0.5px; color:#333; -webkit-text-size-adjust:none;}
body{}
h1, h2, h3, h4, h5, h6, strong{font-weight:400; font-size:100%;}
img { max-width:100%; }
fieldset, img, button{border:0;}
img, input, button{vertical-align:top;}
table{width:100%; border-collapse:collapse;}
address, em{font-style:normal;}
ol, ul{list-style:none;}
hr{display:none;}
a{text-decoration:none; color:#444;}
a:hover, a:active{text-decoration:none;}
legend{position:absolute; left:-9999px; top:0}
caption{overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
button{background:none; box-sizing:border-box; font-family:'Noto Sans KR', Dotum, '굴림', Gulim, Helvetica, sans-serif; cursor:pointer;}
button::-moz-focus-inner{padding:0; border:0;}
.blind{overflow:hidden; position:absolute; left:-9999px; top:0; width:1px; height:1px; font-size:0; text-indent:-9999px;}
.behind{overflow:hidden; font-size:0; text-indent:-9999px;}

/* skipNavi */
#skipNavi a{position:absolute; left:-9999px; top:0;}
#skipNavi a:focus{display:block; left:0; top:0; z-index:1000; width:300px; height:50px; background-color:#000; font-size:30px; color:#fff; line-height:50px; text-align:center;}